Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [2]:
ciudades=['Berlin', 'Madrid', 'Barcelona', 'Roma', 'Beijin', 'Tokio', 'Montevideo']
print(ciudades)

['Berlin', 'Madrid', 'Barcelona', 'Roma', 'Beijin', 'Tokio']

Imprimir por pantalla el segundo elemento de la lista

In [3]:
print(ciudades[1])

Madrid

Imprimir por pantalla del segundo al cuarto elemento

In [4]:
print(ciudades[1:4])

['Madrid', 'Barcelona', 'Roma']

Visualizar el tipo de dato de la lista

In [5]:
print(type(ciudades))

<class 'list'>

Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [6]:
print(ciudades[2:])

['Barcelona', 'Roma', 'Beijin', 'Tokio']

Visualizar los primeros 4 elementos de la lista

In [7]:
print(ciudades[:4])

['Berlin', 'Madrid', 'Barcelona', 'Roma']

Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [8]:
ciudades.append('Montevideo')
print(ciudades)
ciudades.append('Madrid')

['Berlin', 'Madrid', 'Barcelona', 'Roma', 'Beijin', 'Tokio', 'Montevideo']

Agregar otra ciudad, pero en la cuarta posición

In [9]:
ciudades.insert(3,"Mendoza")
print (ciudades)

['Berlin', 'Madrid', 'Barcelona', 'Mendoza', 'Roma', 'Beijin', 'Tokio', 'Montevideo', 'Madrid']

Concatenar otra lista a la ya creada

In [10]:
ciudades1=['Utha', 'NY', 'Miami']
ciudades.extend(ciudades1)
print(ciudades)

['Berlin', 'Madrid', 'Barcelona', 'Mendoza', 'Roma', 'Beijin', 'Tokio', 'Montevideo', 'Madrid', 'Utha', 'NY', 'Miami']

Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [11]:
print(ciudades.index('Mendoza'))

3

¿Qué pasa si se busca un elemento que no existe?

In [12]:
print(ciudades.index('Quito'))

ValueError: 'Quito' is not in list

Eliminar un elemento de la lista

In [13]:
ciudades.pop()

'Miami'

In [ ]:
¿Qué pasa si el elemento a eliminar no existe?

In [14]:
ciudades.pop('Miami')

TypeError: 'str' object cannot be interpreted as an integer

Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [15]:
ultimo=ciudades.pop()
print(ultimo)

NY

Mostrar la lista multiplicada por 4

In [17]:
print(ciudades*4)

Pretty printing has been turned OFF

Crear una tupla que contenga los números enteros del 1 al 20

In [19]:
numeros=tuple(range(1,21))
print(numeros)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

Imprimir desde el índice 10 al 15 de la tupla

In [20]:
print(numeros[10:15])

(11, 12, 13, 14, 15)

Evaluar si los números 20 y 30 están dentro de la tupla

In [23]:
for i in range (20,31,10):
    if i in numeros:
        print(i,'es True')
    else: print(i,'es False')

20 es True
30 es False

Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [25]:
if not 'Paris' in ciudades:
    contol='Paris' in ciudades
    ciudades.append('Paris')
    if contol==False:
        print('Paris no estaba en la lista pero se agrego')
print(ciudades)

Paris no estaba en la lista pero se agrego
['Berlin', 'Madrid', 'Barcelona', 'Mendoza', 'Roma', 'Beijin', 'Tokio', 'Montevideo', 'Madrid', 'Utha', 'Paris']

Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [28]:
print(ciudades.count('Berlin'))
print(numeros.count(20))

1
1

Convertir la tupla en una lista

In [29]:
ciudades_T=tuple(ciudades)
print(ciudades_T)

('Berlin', 'Madrid', 'Barcelona', 'Mendoza', 'Roma', 'Beijin', 'Tokio', 'Montevideo', 'Madrid', 'Utha', 'Paris')

Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [33]:
Alemania,España,España1=ciudades_T[0],ciudades_T[1],ciudades_T[2]
print('Alemania',Alemania,'-  España',España,'-  españa',España1)

Alemania Berlin -  España Madrid -  españa Barcelona

Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [35]:
dic_ciudades={'ciudad1':'Berlin','ciudad2':'Madrid','ciudad3': 'Barcelona','ciudad4': 'Roma','ciudad5': 'Beijin','ciudad6': 'Tokio'}

Imprimir las claves del diccionario

In [37]:
print(dic_ciudades.values())

dict_values(['Berlin', 'Madrid', 'Barcelona', 'Roma', 'Beijin', 'Tokio'])

Imprimir las ciudades a través de su clave

In [38]:
print(dic_ciudades.keys())

dict_keys(['ciudad1', 'ciudad2', 'ciudad3', 'ciudad4', 'ciudad5', 'ciudad6'])